<h1><%= @team_name %></h1>
<h2>Team Motto: <%= @motto %></h2>

<% @members.each.with_index do |hero, index| %>
  <% if @heros_name[index] != "" %>
    <h2>Hero Name: <%= @heros_name[index] %></h2>
    <p>
      Hero Power: <%= @heros_power[index] %>
      <br>
      Hero Biography: <%= @heros_bio[index] %>
    </p>
  <% end %>
<% end %>


