<h1> <font size ="+2"> <%= @team.name %> </h1>
<h1> <font size ="+2"> Team Motto: <%= @team.motto %> </h1>

<h1> <font size ="+2"> Hero Name: <%= @amanda["name"] %> </h1>
<h1> <font size ="+2"> Hero Power: <%= @amanda["power"] %> </h1>
<h1> <font size ="+2"> Hero Biography: <%= @amanda["bio"] %> </h1>

<h1> <font size ="+2"> Hero Name: <%= @arel["name"] %> </h1>
<h1> <font size ="+2"> Hero Power: <%= @arel["power"] %> </h1>
<h1> <font size ="+2"> Hero Biography: <%= @arel["bio"] %> </h1>

<h1> <font size ="+2"> Hero Name: <%= @katie["name"] %> </h1>
<h1> <font size ="+2"> Hero Power: <%= @katie["power"] %> </h1>
<h1> <font size ="+2"> Hero Biography: <%= @katie["bio"] %> </h1>
